I want to compare the CTUs within Hennepin County to figure out which ones would have the best land to conserve for natural resource conservation based on proximity to protected areas, natural spaces, and important bird areas. I'd also like this model to take into consideration Minnesota sites of biodiversity significance (MBS) and their biodiversity significance score values, although this is less important than the rest of the variables. 